@font-face {
    font-family: 'Ubuntu';
    src: url('../font/Ubuntu-Bold.ttf');
}
#j1, #j2, #j3, #j4, #j5, #j6, #j7, #j8, #j9, #j10, #j11,
#j12, #j13, #j14, #j15, #j16, #j17, #j18, #j19, #j20, #j21, #j22,
#j23, #j24, #j25, #j26, #j27, #j28, #j29, #j30, #j31, #j32,
#j33, #j34, #j35, #j36, #j37, #j38, #j39, #j40, #j41, #j42 {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 0;
    -fx-text-fill: black;
    -fx-font-size: 32px;
    -fx-text-alignment: center;

    -fx-font-family: 'Ubuntu';

    -fx-alignment: center;
}
#textDayMonday, #textDayTuesday, #textDayWednesday, #textDayThursday, #textDayFriday, #textDaySaturday, #textDaySunday {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 0;
    -fx-text-fill: black;
    -fx-font-size: 16px;
    -fx-text-alignment: center;

    -fx-min-width: 85.71px;
    -fx-max-width: 85.71px;
    -fx-min-height: 55.83px;
    -fx-max-height: 55.83px;
    -fx-font-family: 'Ubuntu';

    -fx-alignment: center;
}
#buttonPreviousMonth, #buttonNextMonth {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 0;
    -fx-text-fill: black;
    -fx-font-size: 32px;
    -fx-text-alignment: center;
    -fx-opacity: 0.5;

    -fx-font-family: 'Ubuntu';

    -fx-alignment: center;
}